<div class="content-header">
  <h1>
    <a id="menu-toggle" href="#" class="btn btn-default"><i class="icon-reorder"></i></a>
    
  </h1>
</div>
<!-- Keep all page content within the page-content inset div! -->
<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <div class="panel panel-default" id="content-formatting" style="padding: 15px;">
        <label for="title">Location <small>nearest</small></label>
        <form id="searchForm"> 
        <input type="text" class="form-control" id="searchTextField" placeholder="Search meetup on location">
        <input id="locationLat" name="lat" type="hidden">
        <input id="locationLng" name="lng" type="hidden">
        </form>
      </div>  
    </div>  
  </div>
  <% @posts.each do |post| %>

  <div class="row">
    <div class="col-lg-6">
      <div class="panel panel-default" id="content-formatting" style="padding: 15px;">
        <div class="panel-heading" style="margin: -15px -15px;">28 November 2013 (3 weeks away), San Francisco, California, USA
        </div>
        <div style="padding-top: 15px; margin: -15px -15px;">
          <img src="http://maps.googleapis.com/maps/api/staticmap?center=<%= post.location.lat %> ,<%= post.location.lng %>&zoom=16&size=538x400&sensor=false&markers=<%= post.location.lat %> ,<%= post.location.lng %>" style="width:553px; height:400px;">
        </div>
        <p class="lead" style="margin-top:21px"><%= post.title %></p>
        <hr>
        <blockquote><%= post.text %>
          <% if post.host.present? %>
            <small><%= post.host.name %></small>
          <% end %>
        </blockquote>
        <hr>
        <div class="row">
          <address class="col-lg-6">                
            <strong><%= post.location.name %></strong><br>                
            <%= post.location.address %>            
          </address>
          <div class="col-lg-6">
            <%
            if !@userHostedPosts.nil? && !@userHostedPosts.include?(post._id)
              if !@userJoinedPosts.nil? && !@userJoinedPosts.include?(post._id)
                %>
                <!-- <a href="<%= root_url%>join/<%= post._id %>" data-postid="<%= post._id %>" class="btn btn-primary btn-large pull-right joinBtn">Join</a> -->
                <a id="<%= post._id %>_requestBtn" data-postid="<%= post._id %>" class="btn btn-primary btn-large pull-right interestBtn">I'm interested</a>
                <%   

              else
                %>
                <a href="<%= root_url%>withdraw/<%= post._id %>" data-postid="<%= post._id %>" class="btn btn-primary btn-large pull-right withdrawBtn">Request Sent</a>
                <%     
              end

            else
              if @userHostedPosts.nil? && @userJoinedPosts.nil?
                %>
                <button data-postid="<%= post._id %>" class="btn btn-primary btn-large pull-right joinBtn" data-toggle="modal" data-target="#redirectToSignupLogin">Sign up or Login to join</button>
                <!-- <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#redirectToSignupLogin">
                  Launch demo modal
                </button> -->
                <%
              else
                %>
                <button type="button" data-postid="<%= post.text %>" class="btn btn-primary btn-large pull-right">Hosting</button>
                <%
              end

            end
            %>
          </div>
        </div>
        <hr>
      </div>
    </div>  
  </div>  
  <% end %>

</div>  

<div class="modal fade" id="redirectToSignupLogin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Redirecting ...</h4>
      </div>
      <div class="modal-body">
      Sign up or login to join with others in this meetup!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Later</button>
        <button type="button" class="btn btn-primary" onclick="window.location='<%= root_url%>/log_in'">Ok, Sign up</button>
        <button type="button" class="btn btn-primary" onclick="window.location='<%= root_url%>/log_in'">Ok, Login</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="interestModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Message to the Host</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-12">
            <%= form_for Comment.new, :html => {:class => "comments_form"}, url: comments_path do |f| %>
              <div class="form-group">
                <%= f.text_field :text, :class => "form-control comments", :placeholder => "Say something" %>
                <input id="comment_post_id" name="comment[post_id]" type="hidden" value="">
              </div>
              <%= f.submit :class => "btn btn-default", :style => "display:none", :value => "Sign up" %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <small style="float: left;" class="errorMsg">Tip: Send a private message to the host so that they know more about you.</small>
        <a id="sendInterestBtn" class="btn btn-primary btn-large pull-right">Ok</a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



<script type="text/javascript">

$('body').on('click', 'a.joinBtn', function() {
  var url = $(this).attr('href');
  var $this = $(this);
  var postid = $this.data('postid');

  $.ajax({
    type: 'POST',
    url: url,
    success: function(data){
      console.log(data);
      if(!data.error){
        $this.replaceWith("<a href='"+root_url+"withdraw/"+postid+"' data-postid='"+postid+"' class='btn btn-primary btn-large pull-right withdrawBtn'>Withdrawn</a>");
      }
      else{
        window.location.href = "<%=root_url%><%=log_in_path %>";
      }
    }
  });

  return false;
});

$('body').on('click', 'a.withdrawBtn', function() {
  var url = $(this).attr('href');
  var $this = $(this);
  var postid = $this.data('postid');

  $.ajax({
    type: 'POST',
    url: url,
    success: function(data){
      console.log(data);
      if(!data.error){
        $this.replaceWith("<a href='"+root_url+"join/"+postid+"' data-postid='"+postid+"' class='btn btn-primary btn-large pull-right joinBtn'>Join</a>");
      }
    }
  });

  return false;
});

$('#interestModal').modal({ show: false}); //trigger message modal manually

$('body').on('click', 'a.interestBtn', function() {
  var postId = $(this).data('postid');
  console.log(postId);
  $('#interestModal').modal('show');
  $('#comment_post_id').val(postId);
});

$('body').on('submit', 'form.comments_form', function(e) {

  e.preventDefault();

  var $this = $(this);
  var postid = $this.find("input#comment_post_id").val();

  if($this.find('input.comments').val() == ""){
    $this.find('input.comments').css("border-color","red");
    $this.closest('.modal-body').next().find('small.errorMsg').html("You can't send an empty message.");
    return;
  }

  $.ajax({
    type: 'POST',
    url: $this.attr('action'),
    data: $this.serialize(),
    dataType: "JSON",
    success: function(data){
      // console.log(data);
      if(!data.error){
        $this.find('input.comments').val('');
        $('#interestModal').modal('hide');
        $("#"+postid+"_requestBtn").html("Request Sent");
      }
    }
  });

  return false;
});

$('body').on('click', 'a#sendInterestBtn', function(e) {
  $(this).parent().prev().find("form.comments_form").submit();
});
</script>



<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
<script>
$(function() {

  var locationLat= document.getElementById('post_location_lat');
  var locationLng= document.getElementById('post_location_lng');

  function initialize() {
    var mapOptions = {
      center: new google.maps.LatLng(-33.8688, 151.2195),
      zoom: 13
    };

    var input = /** @type {HTMLInputElement} */(
        document.getElementById('searchTextField'));

    var autocomplete = new google.maps.places.Autocomplete(input);

    google.maps.event.addListener(autocomplete, 'place_changed', function() {
      
      var place = autocomplete.getPlace();
      if (!place.geometry) {
        return;
      }

      var location = place.geometry.location;
      $('#locationLat').val(location.lat());
      $('#locationLng').val(location.lng());

      var url = root_url+"posts/search/location/"

      $.ajax({
        type: 'POST',
        url: url,
        data: $("#searchForm").serialize(),
        dataType: "JSON",
        success: function(data){
          console.log(data);
          if(data.error){
            // input.value = data.msg
            console.log(data.msg);
          }
        }
      });


      var address = '';
      if (place.address_components) {
        address = [
          (place.address_components[0] && place.address_components[0].short_name || ''),
          (place.address_components[1] && place.address_components[1].short_name || ''),
          (place.address_components[2] && place.address_components[2].short_name || '')
        ].join(' ');
      }

    });

  }

  google.maps.event.addDomListener(window, 'load', initialize);

});


</script>






