<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
        <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
        <%= csrf_meta_tags %>
        <script type="text/javascript">
        var root_url = "<%= root_url%>";
        </script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div id="wrapper" class="active">
              
              <% if current_user %>
              <!-- Sidebar -->
              <div id="sidebar-wrapper">
                <ul class="sidebar-nav">
                  <li class="sidebar-brand"><a href="<%=root_url%>">Mapeer</a></li>
                  <li><a href="<%=root_url%>profile/setting"><%= current_user.name %></a></li>
                  <li><a href="<%=root_url%>posts/new">New Meetup</a></li>
                  <li><a href="<%=root_url%>hosting/meetups">Hosting</a></li>
                  <li><a href="<%=root_url%>joined/meetups">Joined</a></li>
                  <li><%= link_to "Log out", log_out_path %></li>
                </ul>
              </div>
              <!-- Sidebar -->  
              <% else %>
              <!-- Sidebar -->
              <div id="sidebar-wrapper">
                <ul class="sidebar-nav">
                  <li class="sidebar-brand"><a href="#">Mapeer</a></li>
                  <li><a href="#">About us</a></li>
                  <li><a href="#">Story behind the Scene</a></li>
                  <li><%= link_to "Signup", sign_up_path %></li>
                  <li><%= link_to "Login", log_in_path %></li>
                </ul>
              </div>
              <!-- Sidebar -->  
              <% end %>



              <!-- Page content -->
              <div id="page-content-wrapper">
                <% flash.each do |name, msg| %>
                <div class="alert alert-<%= name.to_s() === "alert" ? "danger" : "success" %>">  <!-- success, info -->
                  <a class="close" data-dismiss="alert" id="<%="flash_#{name}"%>">×</a>  
                  <%=msg%>
                </div>  
                <% end %>

                <%= yield %>


 

              </div>
            </div>     
        </div>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='https://www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>
        <script>
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("active");
        });
        </script>
    </body>
</html>


